.bb-stock-market-wrapper{
    padding: .7em;
}

.bb-stock-header{
    font-size: 2em;
    color: steelblue;
}

.bb-margin-top-btm-5{
    margin: 5px 0px
}

.bb-margin-left-right-5{
    margin: 0px 5px
}


.bb-stock-market-date{
    color: lightgray;
    font-size: 0.7em;
}